#he-1{
    width: 99%;
    height: 100px;
    border: 2px solid black;
    margin: auto;
}
body{
  background-color:blueviolet;
}
header
{
position:fixed;
Z-INDEX:1;
top:1px;
left:1px;
display:flex;
background:linear-gradient(to right,#8d97f0,white);
height:50px;
    /* border: 2px solid black; */
}
button{
  border-radius: 40%;
}
#he-1 img,h3{
  padding-top:20px;
  margin-left: 0px;
}
#he-1 a{
   padding-left: 10px;
}
#he-1 img{
  border-radius:50%;
}

#he-1 div{
  padding-left: 350px;
  padding-top:30px;
text-decoration: none;
font-weight: bold;
font-size:20px
}
button{margin-left: 400px;
  margin-top:20px;
    height:50px;
    width:80px;
    background-color:#9d7ee6;
    font-size:15px;
    color:black;
    font-weight:bold;
}
#main-1 {
    width: 99%;
    height: 350px;
    /* border: 2px solid black; */
    margin: auto;
    display:block;
}
#main-2{
    
    width: 99%;
    height: 350px;
    /* border: 2px solid black; */
    margin: auto;
    display:block;
}
#sec-12{
    width: 99%;
    height: 200px;
    /* border: 2px solid black; */ 
    display: flex;
}
#sec-1 {
    margin-top: 10px;
    width: 99%;
    height: 250px;
    /* border: 2px solid black; */
    overflow: auto;
    display: flex;
    margin: auto;
    position:relative
}

.as-1 {
    width: 250px;
    height: 300px;
    margin: 20px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: auto;
}

.as-2 {
    width: 250px;
    height: 200px;
    /* border: 2px solid black; */
   
}

#sec-2 {
    width: 99%;
    height: 600px;
    /* border: 2px solid black; */
    margin: auto;
}

.art-1 {
    width: 250px;
    height: 250px;padding-right: 20px;
    display: inline-block;
    position: relative;
    left: 70px;
}


.content {
    
  margin-top: 450px;
  flex: 1;
  padding: 20px;
  text-align: center;
}

footer {
    height:300px;
  background-color:blueviolet;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  align-content: center;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.socials,.others {
  margin-top: 8px;
  padding-top: 80px;
  font-size: 14px;
  color: #ccc;
}
h2{height: 20px;
  font-size:40px;
   font-weight: bold;
}
figcaption{
   font-weight: bold; 
   text-align: center;
}

#whatsapp img{
	align-items:center;
	height:60px;
	width:60px;
	background-color:black;
	border-radius:50%;
	position:fixed;
	top:550px;
	left:1250px;
	z-index:1;
}

#policymain pre{
	
	font-weight:bold;
	font-size:15px;
}

#subhead{
	color:rgb(26, 26, 36);
	font-size:20px;
}


#gadgetmain{
	display:block;
	
}
#gadgetsection1{
	height:30%;
	display:flex;
    font-weight:bold;
    font-size:40px;
    text-align: center;
	color:white;}
#gadgetsection2{
	height:12%;
    font-weight:bold;
    font: size 30px;

}
#gadgetsection3{
	width:100%;
  font-size: 20px;
	display:block;
}
#gadget{
	display:flex;
	overflow:auto
}
figure{
  padding-bottom: 50px;
    font-weight:bold;
    font-size:20px;
	text-align:center
}
#gadgetsection4{
  height:400px;
    background:linear-gradient(#9d7ee6,black);
	color:white
}
#gadgetsection1 {
  display: flex;
  justify-content: center;   /* horizontal center */
  height: 80px; 
    font-weight:bold;
    font-size:30px;
	color:white;             /* adjust if needed */
}
#main-4{
margin-top: 150px;
}
p{
font-size: 20px;
font-weight: bold;
}
#div-1{
display:block;
height: 400px;
}
#subdiv-1{
display: inline-block;
width: 24%;
height:300px;
}
#bannerimg{
  padding-top: 20px;
width: 100%;
height:700px;
}